#splitter {
    #content {
        background: url(../assets/img/bao-llnstudio-bg-splitter.svg) center -200px no-repeat;
        background-color: #91CAD9; 
        background-size: cover;
        z-index: 999;
    }
    button:focus {
        outline: none;
    }
}

.pm-splitter-hello {
    color: #FFF;
    font-size: 32px;
    font-family: 'MikadoMedium';
    margin: 20px 0 50px 0;
    }

.pm-splitter {
    background: #FFF;
    border-radius: 28px;
    display: block;
    padding: 20px 40px;
    position: relative;
    &:before {
        background: #67C237;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 28px;
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        transform: rotate(2deg);
        z-index: -1;
        transition: all .2s;
    }
    button {
        background: rgb(97, 182, 52);
        border-radius: 60px;
        border: none;
        box-shadow: 0 2px 0 0 #5aaa30;
        color: rgb(255, 255, 255);
        padding: 0.7695rem 1.5rem 0.55652rem;
        transform: translateY(-1px);
        font-family: MikadoRegular, "Open Sans", sans-serif;
        font-weight: 700;
        transition: all 0.15s ease;
        font-size: 20px;
        letter-spacing: 1px;
        &:hover {
            background: #61b634;
            box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.25), 0 6px 16px 0 rgba(150, 150, 150, 0.15);
            color: #FFF;
            transform: translateY(-1px);
            transform: scale(1.05);
        }
    }
    &__student {
        .pm-splitter__list {
            background: url(../assets/img/logo_lln.svg) right 25px no-repeat;
            background-size: 100px;
        }
        border-right: 2px dashed #7BC2D5;
        padding: 30px;
        button {
            width: 100%;
            &:before {
                content: "";
                height: 55px;
                width: 30px;
                background: url(../assets/img/splitter-student-arrow.svg) center center no-repeat;
                background-size: cover;
                position: absolute;
                top: -85px;
                left: 42%;
            }
        }
    }
    &__teacher {
        .pm-splitter__list {
            background: url(../assets/img/logo_lkr.svg) right 25px no-repeat;
            background-size: 100px;
        }
        padding: 30px;
        button {
            width: 100%;
            &:before {
                content: "";
                height: 55px;
                width: 30px;
                background: url(../assets/img/splitter-teacher-arrow.svg) center center no-repeat;
                background-size: cover;
                position: absolute;
                top: -85px;
                left: 42%;
            }
        }
    }
    &__list {
        padding: 30px 80px 0px 0px;
        h5 {
            font-family: 'MikadoBold';
            font-size: 20px;
            color: #1E6C81;
            letter-spacing: 1px;
        }
        ul {
            list-style: none;
            padding-left: 0;
            li {
                display: flex;
                font-family: 'MikadoRegular';
                font-size: 16px;
                color: #4DACC6;
                &:before {
                    content: "\68";
                    font-family: "bao-leerlingenstudio" !important;
                    font-size: 11px;
                    margin-right: 5px;
                    margin-top: 2px;
                }
            }
        }
    }
}

#methods {
    background: #C7EBF5;
    padding: 30px 0;
    margin-top: 50px;
    .pm-methods {
        font-family: 'MikadoMedium';
        font-size: 16px;
        color: #1E6C81;
        letter-spacing: 1px;
        text-align: center;
        img {
            width: 70px;
        }
        &__text {
            padding-top: 10px;
            text-align: right;
        }
        &__img {
            text-align: left;
        }
    }
}

.pm-splitter-footer {
    background: #FFF;
    font-size: 14px;
    color: #00AE74;
    font-family: "Fedra Sans Screen Regular 2",Verdana,Arial,sans-serif;
    padding: 10px 0;
    &__copyright {
        font-family: "Fedra Sans Screen Bold 2",Verdana,Arial,sans-serif;
    }
    a {
        color: #00AE74;
    }
}

@media screen and (max-width:768px) {
    .pm-splitter__student {
        border: none;
        padding: 30px 0 0 0 !important;
    }
    .pm-splitter__student,
    .pm-splitter__teacher {
        padding: 30px 0;
    }
    button:before {
        display: none;
    }
    .pm-methods__text,
    .pm-methods__img {
        text-align: center !important;
    }
}

@media (max-width: 576px) {
    .pm-splitter__list {
        padding: 30px 0px 0px 0px !important;
    }
}