$bao-lln-body-bg: #91CAD9;

$bao-lln-white: #FFF;
$bao-lln-black: #000;
$bao-lln-grey: #E2E2E2;
$bao-lln-blue: #4DACC6;
$bao-lln-green: #5AAF2D;

$bao-lln-pm-green: #00AE74;

$bao-lln-mikado: #67C237;
$bao-lln-iedereen-spelt: #05B2B6;
$bao-lln-spelt: #E50075;
$bao-lln-frans: #0069B3;

$bao-lln-fill: rgba(255,255,255,.1);
$bao-lln-fill-half: rgba(255,255,255,.2);

$bao-lln-year-select-mikado-1: #00A89C;
$bao-lln-year-select-mikado-2: #0098D9;
$bao-lln-year-select-mikado-3: #FEC10E;
$bao-lln-year-select-mikado-4: #F6931D;
$bao-lln-year-select-mikado-5: #8CC63F;
$bao-lln-year-select-mikado-6: #C7DC69;

$bao-lln-mikado-chapter-1: #E6B121;
$bao-lln-mikado-chapter-2: #0184BF;
$bao-lln-mikado-chapter-3: #79BB43;
$bao-lln-mikado-chapter-4: #D68630;
$bao-lln-mikado-chapter-5: #7E87B5;
$bao-lln-mikado-chapter-6: #00B0DE;
$bao-lln-mikado-chapter-7: #E05541;
$bao-lln-mikado-chapter-8: #3AAB47;

$bao-lln-button-practice-1: #F9AF42;
$bao-lln-button-practice-2: #EF4136;

$bao-lln-modal-alert-bg: rgba(52,73,94,.65);

$alert-info: #4CCEF7;
$alert-alert: #FF0002;
$alert-warning: #F5A623;
$alert-success: #7ED321;